
# tags
tags
*.taghl

# c temp files
*.o
*.d

# python compiled files
*.py[cod]
__pycache__/

# shell temp files
.w3m/history
.ssh/authorized_keys
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
.subversion/README.txt
.subversion/auth/
.subversion/servers

# ycm
#YouCompleteMe/
