
# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
#*.c text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.ico binary
*.exe binary
*.dll binary
*.zip binary
*.tar.xz binary
*.ttf binary

